/* src/components/atoms/Input/Input.css */

.input {
  width: 100%;
  padding: 10px 16px;
  
  background-color: #ffffff; 
  color: #1f2937;
  
  border: 1px solid #d1d5db;
  border-radius: 8px; 
  
  font-family: sans-serif;
  font-size: 1rem;
  
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2); 
}

/* Estado de Error (Modificador) */
.input--error {
  border-color: #ef4444; 
}

.input--error:focus {
  border-color: #ef4444;
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.2);
}